/*
 *星级评论
 */
.my-stars-list{
  height: 34px;
  line-height: 34px;
  float: left;
}
.my-stars-items{
  float: left;
  cursor:pointer;
  font-size:0;
  width: 34px;
  line-height: 34px;
  height:34px;
  background-image: url(../images/star-off-big.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.myStarHover.my-stars-items{
  background-image: url(../images/star-on-big.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.myStarsSel.my-stars-items{
  background-image: url(../images/star-on-big.png);
  background-repeat: no-repeat;
  background-position: center center;
}
