<!--@*bottom*@-->
<div class="footer">
  <p><a href="#"><span>关于我们</span></a>
    <span class="verticalLine">|</span>
    <a href="#"><span>联系我们</span></a>
    <span class="verticalLine">|</span>
    <a href="#"><span>学习指南</span></a>
    <span class="verticalLine">|</span>
    <span>技术支持：杭州精英在线教育科技股份有限公司</span>
  </p>
  <p>Copyright&nbsp;2017©云南省技能在线学习平台&nbsp;请使用IE8以上浏览器，从而达到最佳浏览效果！</p>
</div>

<style>
  .footer {
    height:90px;
    margin: 0 auto;
    padding-top:16px;
    background: #e5e5e5;
    margin-top: 15px;
  }
  .verticalLine{
    margin: 0 26px;
  }
  .footer > p ,.footer > p > a {
    text-align: center;
    line-height: 26px;
    color:#4b4b4b
  }
</style>
