<div class="friendlyLink">
  <div>
    <img src="images/friend_link.png" alt="">
  </div>
  <div class="friendlyLink_pic clearfix">
    <ul>
      <li><span class="square"></span><a href="http://www.ynhrss.gov.cn" target="_blank"><img src="images/friend_link_pic01.png" width="207" height="35" alt=""></a></li>
      <li><span class="square"></span><a href="http://www.ynhr.com" target="_blank"><img src="images/friend_link_pic02.png" width="207" height="35" alt=""></a></li>
      <li><span class="square"></span><a href="http://www.ynjob.gov.cn" target="_blank"><img src="images/friend_link_pic03.png" width="207" height="35" alt=""></a></li>
      <li><span class="square"></span><a href="http://www.ynrsksw.com" target="_blank"><img src="images/friend_link_pic04.png" width="207" height="35" alt=""></a></li>
      <li><span class="square"></span><a href="http://www.yn.osta.org.cn" target="_blank"><img src="images/friend_link_pic05.png" width="207" height="35" alt=""></a></li>
      <li><span class="square"></span><a href="http://www.ynou.cn" target="_blank"><img src="images/friend_link_pic06.png" width="207" height="35" alt=""></a></li>
    </ul>
  </div>
</div>

<style>
  .friendlyLink {
    height: 128px;
    background: #f8f8f8;
  }
  .friendlyLink_pic{
    height: 35px;

  }
  .friendlyLink_pic ul{

    padding-bottom: 10px;
  }
  .friendlyLink_pic li{
    float: left;
    margin-top: 10px;
  }
  .friendlyLink_pic li > img{
    margin-left: 6px;
  }
</style>

