<div class="importantNotice border_1">
  <h4>最新消息：</h4>
  <div class="slide">
    <ul  id="slide">
      <!--<li ng-repeat="item in importantNoticeData"><a target="_blank" href="#/noticeDetail/{{item.Id}}">{{item.Name}}</a></li>-->
      <li><a target="_blank" href="#">Latest news 1</a></li>
      <li><a target="_blank" href="#">Latest news 2</a></li>
      <li><a target="_blank" href="#">Latest news 3</a></li>
    </ul>
  </div>
</div>
<style>
  .importantNotice {
    width: 452px;
    height: 36px;
    background: #EEF7FA;
  }
  .importantNotice h4 {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    margin-left: 14px;

  }
  .importantNotice .slide{
    position: absolute;
    overflow: hidden;
    height: 36px;
  }
  .importantNotice ul{
    display: inline-block;
    margin-left: 82px;
  }
  .importantNotice ul li a{
    color: #3F7991;
    font-size: 14px;
    line-height: 36px;
  }
</style>
