<!--个人中心-->
<div class="myCenter tmBorder-green">
  <ol class="breadcrumb">
    <li class="currentPosition">您的当前位置:</li>
    <li><a href="#/main">首页</a></li>
    <li class="active">个人中心</li>
  </ol>
  <form class="form-inline formCourse">
    <select class="form-control" ng-init="selectedName = courseStatus[0]" ng-model="selectedName" ng-options="x.name for x in courseStatus" ng-change="selectChangeFun(selectedName.id)">
    </select>
    <div class="form-group">
      <input ng-model="searchTitle" type="text" class="form-control"
             style="width: 400px;"
             my-placeholder
             placeholder="请输入要搜索的课程">
    </div>
    <button type="submit" class="btn btn-default" ng-click="searchMyCenterCourse({'courseType':selectedName.id,'title':searchTitle})">搜索</button>
  </form>
  <div class="myTab">
    <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
      <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1;searchMyCenterCourse({'courseType':'StudyingSkill','title':searchTitle})">技能技能课程 <span>({{TotalData.UnfinishCount}})</span></a></li>
      <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2;searchMyCenterCourse({'courseType':'FinishSkill','title':searchTitle})">非取证技能课程 <span>({{TotalData.FinishCount}})</span></a></li>
      <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="vm.activeTab = 3;searchMyCenterCourse({'courseType':'StudyingGuidance','title':searchTitle})">正在学习的引导性课程 <span>({{TotalData.AppointedCount}})</span></a></li>
      <li ng-class="{active: vm.activeTab == 4}"><a href="javascript:;" ng-click="vm.activeTab = 4;searchMyCenterCourse({'courseType':'FinishGuidance','title':searchTitle})">完成的引导性课程 <span>({{TotalData.FinishGuidanceCount}})</span></a></li>
    </ul>
    <div class="tab-content" dw-loading="myCenter">
      <div class="tab-panel perlist" ng-show="vm.activeTab == 1">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a href="javascript:;" class="getorder" ng-click="learningProgress('Unfinish')"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <!--<span class="list5">内容</span>-->
          <span class="list5">已学学时</span>
          <span class="list5">类型</span>
          <span class="list6">培训时间</span>
          <span class="list6">考试时间</span>
        </div>
        <div class="list" ng-repeat="StudyingSkill in TotalData.ListData.StudyingSkill">
          <p class="clearfix">
            <span class="list1 cur_name" title="{{StudyingSkill.Name}}"><a href="#/courseCenter/courseDetails/{{StudyingSkill.Id}}">{{StudyingSkill.Name}}</a></span>
            <span class="list2"><span class="jd_box"><span class="jd_bg" ng-style="{'width':StudyingSkill.BrowseScore+'%'};">&nbsp;</span></span></span>
            <span class="list3">{{StudyingSkill.BrowseScore}}%</span>
            <!--<span class="list5 red">详细</span>-->
            <span class="list5">{{StudyingSkill.Credit}}</span>
            <span class="list5">{{StudyingSkill.Type}}</span>
            <span class="list6">{{StudyingSkill.ExamDate | dateFilter | date:'yyyy-MM-dd'}}</span>
            <!--<span class="list5"><a href="#/play/play/{{StudyingSkill.Id}}" target="_blank">播放</a></span>-->
            <span class="list6">{{StudyingSkill.ExamDate | dateFilter | date:'yyyy-MM-dd'}}</span>
          </p>
        </div>
        <div ng-transclude="pagation"></div>
      </div>
      <div class="tab-panel perlist" ng-show="vm.activeTab == 2">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a href="javascript:;" class="getorder" ng-click="learningProgress('Unfinish')"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <!--<span class="list3">内容</span>-->
          <!--<span class="list6">完成时间</span>-->
          <span class="list5">已学学时</span>
          <span class="list5">类型</span>
          <!--<span class="list4">播放</span>-->
          <span class="list6">培训时间</span>
          <span class="list6">考试时间</span>
        </div>
        <div class="list" ng-repeat="FinishSkill in TotalData.ListData.FinishSkill">
          <p class="clearfix">
            <span class="list1 cur_name" title="{{FinishSkill.Name}}"><a href="#/courseCenter/courseDetails/{{FinishSkill.Id}}">{{FinishSkill.Name}}</a></span>
            <span class="list2"><span class="jd_box"><span class="jd_bg" ng-style="{'width':FinishSkill.BrowseScore+'%'};">&nbsp;</span></span></span>
            <span class="list3">{{FinishSkill.BrowseScore}}%</span>
            <!--<span class="list3 red">详细</span>-->
            <!--<span class="list6">{{FinishSkill.FinishDate | dateFilter | date:'yyyy-MM-dd'}}</span>-->
            <span class="list5">{{FinishSkill.Credit}}</span>
            <span class="list5">{{FinishSkill.Type}}</span>
            <span class="list6">{{FinishSkill.ExamDate | dateFilter | date:'yyyy-MM-dd'}}</span>
            <!--<span class="list4"><a href="#/play/play/{{FinishSkill.Id}}" target="_blank">播放</a></span>-->
            <span class="list6">{{FinishSkill.ExamDate | dateFilter | date:'yyyy-MM-dd'}}</span>
          </p>
        </div>
        <div ng-transclude="pagation"></div>
      </div>
      <div class="tab-panel perlist" ng-show="vm.activeTab == 3">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a ng-click="learningProgress('Finish')" href="javascript:;" class="getorder"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <span class="list6">已学学时</span>
          <span class="list6">类型</span>
          <span class="list6">播放</span>
          <span class="list6">删除</span>
        </div>
        <div class="list" ng-repeat="StudyingGuidance in TotalData.ListData.StudyingGuidance">
          <p class="clearfix">
            <span class="list1 cur_name" title="{{StudyingGuidance.Name}}"><a href="#/courseCenter/courseDetails/{{StudyingGuidance.Id}}">{{StudyingGuidance.Name}}</a></span>
            <span class="list2"><span class="jd_box"><span class="jd_bg" ng-style="{'width':StudyingGuidance.BrowseScore+'%'};">&nbsp;</span></span></span>
            <span class="list3">{{StudyingGuidance.BrowseScore}}%</span>
            <span class="list6">{{StudyingGuidance.Credit}}</span>
            <span class="list6">{{StudyingGuidance.Type}}</span>
            <span class="list6"><a href="#/play/play/{{StudyingGuidance.Id}}" target="_blank">播放</a></span>
            <span class="list6"><a href="javascript:;" ng-click="deleatUserCourse(Finish.Id)"><img src="images/del.jpg" /></a></span>
          </p>
        </div>
        <div ng-transclude="pagation"></div>
      </div>
      <div class="tab-panel perlist" ng-show="vm.activeTab == 4">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a ng-click="learningProgress('Finish')" href="javascript:;" class="getorder"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <span class="list6">完成时间</span>
          <span class="list5">已学学时</span>
          <span class="list5">类型</span>
          <span class="list5">播放</span>
          <span class="list5">删除</span>
        </div>
        <div class="list" ng-repeat="FinishGuidance in TotalData.ListData.FinishGuidance">
          <p class="clearfix">
            <span class="list1 cur_name" title="{{FinishGuidance.Name}}"><a href="#/courseCenter/courseDetails/{{FinishGuidance.Id}}">{{FinishGuidance.Name}}</a></span>
            <span class="list2"><span class="jd_box"><span class="jd_bg" ng-style="{'width':FinishGuidance.BrowseScore+'%'};">&nbsp;</span></span></span>
            <span class="list3">{{FinishGuidance.BrowseScore}}%</span>
            <span class="list6">{{FinishGuidance.FinishDate | dateFilter | date:'yyyy-MM-dd'}}</span>
            <span class="list5">{{FinishGuidance.Credit}}</span>
            <span class="list5">{{FinishGuidance.Type}}</span>
            <span class="list5"><a href="#/play/play/{{FinishGuidance.Id}}" target="_blank">播放</a></span>
            <span class="list5"><a href="javascript:;" ng-click="deleatUserCourse(Finish.Id)"><img src="images/del.jpg" /></a></span>
          </p>
        </div>
        <div ng-transclude="pagation"></div>
      </div>
    </div>
  </div>

</div>
<style>
  .myTab .perlist .list1 {
    width: 160px;
    height: 37px;
  }
  .myTab .perlist .list .list1 {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  .myTab .perlist .list2 {
    width: 90px;
  }
  .myTab .perlist .list .list2 {
    position: relative;
    top: 10px;
  }
  .myTab .perlist .list3 {
    width: 45px;
  }
  .myTab .perlist .list4 {
    width: 42px;
  }
  .myTab .perlist .list5 {
    width: 60px;
  }
  .myTab .perlist .list6 {
    width: 93px;
  }
  .myTab .perlist .list2 .jd_box {
    border: 1px solid #7abc1d;
    width: 99.5%;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
  }
  .myTab .perlist .list2 .jd_box .jd_bg {
    display: inline-block;
    background: #7abc1d;
    height: 15px;
  }

  .myTab .modal-footer {
    text-align: center;
  }
  .myTab .table input {
    width: 320px;
    text-align: left;
    height: 26px;
    line-height: 26px;
  }
  .myTab .table td {
    text-align: left;
  }
  .myTab .seaNote a{
    padding: 0 15px;
  }
  .myTab .newnote{
    padding: 2px 12px;
  }
  .myTab .content_page{
    line-height: 26px;
  }
</style>
