<!--个人学习档案-->
<div class="container_24 mar_top_20 personalArchives">
  <div class="breadCrumb mar_top_10">
    <img src="images/link.gif" alt="">
    <strong>您当前的位置&nbsp;:&nbsp;</strong>
    <a href="#/main">首页</a>
    <span>&nbsp;>&nbsp;{{Data.ViewBag.TitleNav}}</span>
  </div>
  <div class="statisticsTitle">
    <span>{{Data.ViewBag.TitleNav}}</span>
  </div>
  <div dw-loading="personalArchive">
    <div class="statisticsBox">
      <div class="statisticsBoxInner">
        <!--<p>-->
          <!--尊敬的&nbsp<span class="font-red">{{Data.Model.Name}}</span>&nbsp学员，一年内截止至今，-->
          <!--您总选学了&nbsp;<span class="font-red">{{Data.ViewBag.StudyCount}}</span>&nbsp;个技能培训课程，-->
          <!--其中已学完职业技能资格课程&nbsp;<span class="font-red">{{Data.ViewBag.StudyFinishCount}}</span>&nbsp;门，-->
          <!--<span class="font-red">{{Data.ViewBag.StudyUnFinishCount}}</span>&nbsp;门未学完。已学完非取证培训课程 <span class="font-red">{{Data.ViewBag.StudyFinishguidance}}</span> 门，<span class="font-red">{{Data.ViewBag.StudyUnFinishguidance}}</span> 门未学完；-->
          <!--参加&nbsp;<span class="font-red">{{Data.ViewBag.JoinExamCount}}</span>&nbsp;门职业技能资格考试，成绩合格<span class="font-red">{{Data.ViewBag.ExamConformityCount}}</span>门，-->
          <!--您的所学学时在全系统排名&nbsp;<span class="font-red">{{Data.Model.Rank}}</span> ，祝您学有所成！-->
        <!--</p>-->
        <br />
        <fieldset style="visibility: visible;">
          <legend class="legend_60"><strong>基本信息</strong></legend><br />
          <input  type="text" class="date txt" datepicker ng-model="startDate"/>
          <span class="zhi">至</span>
          <input class="date"  type="text" datepicker ng-model="endDate"/>
          <input id="btnDataSearch" type="button" value="时间查询" class="searchBtn btn" ng-click="refresh({startDate:startDate,endDate:endDate})" />

          <table style="width:96%;margin:0 auto;margin-top: 10px;" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="25%" align="center" class="table1">
                用户名
              </td>
              <td width="25%" align="center">
                {{Data.Model.Name}}
              </td>
              <td width="25%" align="center" class="table1">
                身份证
              </td>
              <td align="center">
                {{Data.Model.IdCard}}
              </td>
            </tr>
          </table>
          <br />
        </fieldset>

      </div>
    </div>
    <div class="statisticsBox">
      <div class="statisticsBoxInner">
        <fieldset>
          <legend class="legend_140"><strong>取证技能培训学习过程</strong></legend>
          <br />
          <table style="width:96%;margin:0 auto" border="0" align="center" cellpadding="0" cellspacing="0">
            <thead>
            <tr class="table1">
              <th align="center">职业技能资格</th>
              <th align="center">课程名称</th>
              <th align="center">培训机构</th>
              <th align="center">培训时间</th>
              <th align="center">学习进度</th>
              <th align="center" style="width: 20%;">已学学时</th>
              <th align="center">来源</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="StudyCourse in Data.Model.StudyCourseModel">
              <td>{{StudyCourse.GroupName}}</td>
              <td align="center">{{StudyCourse.CourseName}}</td>
              <td>{{StudyCourse.GroupName}}</td>
              <td>{{StudyCourse.StartDate | dateFilter | date:'yyyy-MM-dd'}}-{{StudyCourse.FinishDate | dateFilter | date:'yyyy-MM-dd'}}</td>
              <td>{{StudyCourse.BrowseScore}}%</td>
              <td>{{StudyCourse.Credit}}</td>
              <td>{{StudyCourse.CreditSource}}</td>
            </tr>
            <td colspan="7"><div class="mar_0_auto" tm-pagation conf="paginationConf[0]"></div></td>
            </tbody>
          </table>
          <br />
          <!--<table ng-show="table_show_one" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 96%; margin:0 auto;display: none;">-->
            <!--<thead>-->
            <!--<tr class="table1">-->
              <!--<th align="center">知识点名称</th>-->
              <!--&lt;!&ndash;<th align="center">开始时间</th>&ndash;&gt;-->
              <!--<th align="center">完成时间</th>-->
              <!--<th align="center">学习状态</th>-->
              <!--<th align="center">学习进度</th>-->
              <!--&lt;!&ndash;<th align="center">获得学分</th>&ndash;&gt;-->
              <!--<th align="center">来源</th>-->
              <!--&lt;!&ndash;<th align="center">评论学分</th>&ndash;&gt;-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="StudyCourse in Data.Model.StudyCourseModel">-->
              <!--<td width="40%" align="center">{{StudyCourse.CourseName}}</td>-->
              <!--&lt;!&ndash;<td>{{StudyCourse.StartDate | dateFilter | date:'yyyy-MM-dd'}}</td>&ndash;&gt;-->
              <!--<td>{{StudyCourse.FinishDate | dateFilter | date:'yyyy-MM-dd'}}</td>-->
              <!--<td>{{StudyCourse.Status}}</td>-->
              <!--<td>{{StudyCourse.BrowseScore}}%</td>-->
              <!--&lt;!&ndash;<td>{{StudyCourse.Credit}}</td>&ndash;&gt;-->
              <!--<td>{{StudyCourse.CreditSource}}</td>-->
              <!--&lt;!&ndash;<td>{{StudyCourse.CommentCredit}}</td>&ndash;&gt;-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td colspan="9"><div class="mar_0_auto" tm-pagation conf="paginationConf[0]"></div></td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->

        </fieldset>
      </div>
    </div>
    <div class="statisticsBox">
      <div class="statisticsBoxInner">
        <fieldset>
          <legend class="legend_130"><strong>引导性培训学习过程</strong></legend>
          <br />
          <table border="0" align="center" cellpadding="0" cellspacing="0" style="width: 96%; margin:0 auto">
            <thead>
            <tr class="table1">
              <th align="center">引导性培训课程名称</th>
              <!--<th align="center">开始时间</th>-->
              <th align="center">完成时间</th>
              <th align="center">学习状态</th>
              <th align="center">学习进度</th>
              <th align="center">已学学时</th>
              <th align="center">来源</th>
              <!--<th align="center">评论学分</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="GuidanceCourse in Data.Model.studyGuidanceCourseModel">
              <td width="40%" align="center">{{GuidanceCourse.CourseName}}</td>
              <!--<td>{{StudyCourse.StartDate | dateFilter | date:'yyyy-MM-dd'}}</td>-->
              <td>{{GuidanceCourse.FinishDate | dateFilter | date:'yyyy-MM-dd'}}</td>
              <td>{{GuidanceCourse.Status}}</td>
              <td>{{GuidanceCourse.BrowseScore}}%</td>
              <td>{{}}</td>
              <td>{{StudyCourse.CreditSource}}</td>
              <!--<td>{{StudyCourse.CommentCredit}}</td>-->
            </tr>
            <tr>
              <td colspan="6"><div class="mar_0_auto" tm-pagation conf="paginationConf[1]"></div></td>
            </tr>
            </tbody>
          </table>
          <br>
        </fieldset>
      </div>
    </div>
    <div class="statisticsBox">
      <div class="statisticsBoxInner">
        <fieldset>
          <legend class="legend_140"><strong>取证技能培训学习成果</strong></legend>
          <br />
          <table style="width: 96%;margin:0 auto" border="0" align="center" cellpadding="0" cellspacing="0">
            <thead>
            <tr class="table1">
              <th align="center">职业技能资格</th>
              <th align="center">培训机构</th>
              <th align="center">考试时间</th>
              <th align="center">考试得分</th>
              <th align="center">考试结果</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ExamVModel in Data.Model.TrainUserExamVModel">
              <td align="center">{{ExamVModel.CourseExamName}}</td>
              <td>{{ExamVModel.TrainName}}</td>
              <td>{{ExamVModel.ExamTime | formatString}}至{{ExamVModel.ExamTime | formatString1}}</td>
              <td>{{ExamVModel.Score}}</td>
              <td>{{ExamVModel.ExamResult}}</td>
            </tr>
            <tr>
              <td colspan="9" ><div class="mar_0_auto" tm-pagation conf="paginationConf[2]"></div></td>
            </tr>
            </tbody>
          </table>
          <br />
        </fieldset>

      </div>
    </div>
  </div>
</div>

<style>
  .personalArchives input.date{
    height: 26px;
    line-height: 26px;
  }
  .breadCrumb{
    line-height: 18px;
    margin: 10px 0 5px 5px;
  }
  .breadCrumb img{
    margin-right: 10px;
    vertical-align: middle;
  }
  .statisticsTitle{
    padding-top: 10px;
    border-bottom: 2px solid #EA4646;
  }
  .statisticsTitle span{
    display: inline-block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-weight:bold;
    background: #EA4646;
    color: #fff;
  }
  .statisticsBox{
    border: 2px solid #ccc;
    border-top: 0;
    padding: 10px 0 5px 0;
  }
  .statisticsBox .statisticsBoxInner{
    width: 96%;
    margin: 0 auto;
  }
  .statisticsBox .statisticsBoxInner .font-red{
    color: #EA4646;
    font-weight: bold;
  }
  .statisticsBox .zhi{
    padding: 0 10px;
  }
  .statisticsBox fieldset{
    border:2px solid #ccc;
  }
  .statisticsBox legend{
    font-size: 14px;
    border: none;
  }
  .legend_60{
    width: 60px;
  }
  .legend_90{
    width: 90px;
  }
  .legend_130{
    width: 130px;
  }
  .legend_140{
    width: 140px;
  }
  .mar_0_auto{
    margin: 0 auto;
    display: inline-block;
  }
  .statisticsBox .txt{
    margin-left: 20px;
  }
  .statisticsBox .searchBtn{
    margin-left: 20px;
    padding: 2px 10px;
    background: #EA4646;
    color: #fff;
  }
  .statisticsBox .table1{
    background: #f1f1f1;
  }
  .statisticsBox .courseDetails{
    color: #EA4646;
  }
  .statisticsBox td,.statisticsBox th{
    border: 1px solid #ccc;
    height: 30px;
    /*line-height: 30px;*/
    text-align: center;
  }
</style>
