<div class="personalCenterNav tmBorder-green">
  <div class="titlebg2">
    <div class="txt">个人中心导航</div>
  </div>
  <div class="content per">
    <ul>
      <li>
        <a href="#/courseCenter" class="btn ">培训资源</a>
        <a href="#/personalCenter/myFavorite" class="btn ">我的收藏</a>
      </li>
      <li>
        <a href="#/testCenter" class="btn ">模拟测试</a>
        <a href="#/testCenter" class="btn ">正式考试</a>
      </li>
    </ul>
  </div>
</div>
<style>
.personalCenterNav .content a.btn {
  width: 90px;
  margin:0 0 15px 40px;
  background: rgb(221,221,221);
  color: #000;
}
</style>
