<div class="personalCenterNav tmBorder-green">
  <div class="titlebg2">
    <div class="txt">个人中心导航</div>
  </div>
  <div class="content per">
    <ul>
      <li>
        <a href="#/courseCenter" class="btn ">选择课程</a>
        <a href="#/personalCenter/studyStat" class="btn ">学习统计</a>
      </li>
      <li>
        <a href="#/personalCenter/testStat" class="btn ">考试统计</a>
        <a href="#/personalCenter/myFavorite" class="btn ">我的收藏</a>
      </li>
      <li>
        <a href="#/personalCenter/studyPlan" class="btn ">学习计划</a>
        <a href="#/personalCenter/messageList" class="btn ">留言板</a>
      </li>
    </ul>
  </div>
</div>
<style>
.personalCenterNav .content a.btn {
  width: 90px;
  margin:0 0 15px 40px;
  background: rgb(221,221,221);
  color: #000;
}
</style>
