<div class="articleCategory border_1 tmBorder-blue">
  <div class="articleCategoryTitle" >
    <h1>支持服务</h1>
  </div>
  <ul>
    <!--<li ng-repeat="categoryData in categoryData.ListData"><a class="btn" ng-click="refreshList({categoryId:categoryData.Id})" href="javascript:;">{{categoryData.Name}}</a></li>-->
    <li><a class="btn" ng-click="refreshList({categoryId:25640})" href="javascript:;">培训机构</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">学习流程</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">考核说明</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">操作指南</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">常见问题</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">必装软件</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">联系我们</a></li>
    <li><a class="btn" ng-click="refreshList({categoryId:781337})" href="javascript:;">资料下载</a></li>
  </ul>
</div>
<style>
  .articleCategory > ul{
    overflow: hidden;
    padding-left:23px;
  }
  .articleCategory > ul > li{
    width: 82px;
    height: 38px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .articleCategory > ul > li > a.btn{
    display: inline-block;
    width: 82px;
    height: 38px;
    text-align: center;
    color: #333;
    background: rgb(221,221,221);
  }
  .articleCategoryTitle > h1{
    font-size: 22px;
    line-height: 49px;
    text-align: center;
  }
</style>

