<div tm-nav-bars class="container_24_1020"></div>
<div class="container_24">
  <div tm-header></div>
  <div class="grid_6 mar_top_20">
    <div tm-course-classify course-classify="courseClassify" repeat-done="repeatDone" search-course="searchCourse"></div>
    <!--<div tm-course-ranking-list></div>-->
  </div>
  <div class="grid_18 mar_top_20 pad_left_10">
    <div tm-course-supermarket>
      <div class="pull-left" tm-pagation conf="paginationConf"></div>
    </div>
  </div>
</div>
<div tm-footer></div>
