<!--<div ng-include="'header.html'"></div>-->
<div tm-nav-bars class="container_24_1020"></div>
<div class="container_24">
  <div tm-header></div>
  <div class="clearfix">
    <div class="mar_top_5">
      <div class="grid_7_274 pull-left">
        <div tm-user-login></div>
        <div tm-real-time-data class="mar_top_5 h_200"></div>
        <div tm-government-ranking class="mar_top_5" style="margin-top: 22px;"></div>
        <div tm-course-ranking-list class="mar_top_5"></div>
      </div>
      <div class="grid_17_710 pull-right" style="height: 1000px;">
        <div style="height: 400px;">
          <div class="clearfix">
            <div tm-news-information class="grid_13_452 pull-left"></div>
            <div tm-notice-announcement class="grid_6_250 pull-right"></div>
            <!--<div tm-important-notice class="mar_top_5"></div>-->
          </div>
          <div>
            <!--<div tm-exam-info></div>-->
            <div tm-article-tab class="mar_top_5"></div>
          </div>
        </div>
        <div class="mar_top_7" style="margin-top: 24px;">
          <div tm-guide-training></div>
        </div>
        <div class="mar_top_6">
          <div tm-skill-training></div>
        </div>
        <div class="mar_top_6">
          <div tm-other-training></div>
        </div>
      </div>
    </div>
  </div>
  <div tm-friendly-link class="mar_top_5"></div>
</div>
<div tm-tip></div>
<div tm-footer></div>

